*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.service{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    background-image: url('../../assets/hand-painted-watercolor-abstract-background_889452-25354.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.5rem;    
}
.service h1{
    color: rgb(0, 0, 0);
    font-size: 3rem;    
}