*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    background-image: url('../../assets/6080984.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.5rem;    
}
/* .style{
    backgroundImage:url(${bgcol});
    backgroundSize: "cover";
    backgroundPosition: "center";
    height: "400";
  } */