*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/16282276_rm222batch2-mind-03.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.home h1{
    color: rgb(0, 0, 0);
    font-size: 3rem;    
}