*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}
.contact h1{
    color: rgb(0, 0, 0);
    font-size: 3rem;    
}